<?xml version="1.0"?>
<configuration>
  <location path="MessageMgt.ashx">
    <system.web>
      <pages validateRequest="false" />
      <httpRuntime requestValidationMode="2.0"/>
    </system.web>
  </location>
  <system.web>
    <authorization>
      <allow roles="SuperAdmin,Manage Messages"/>
      <deny users="*"/>
    </authorization>
  </system.web>
</configuration>
