<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="CachingDBConnectionString" value="mongodb://192.168.1.113" />
    <add key="CachingDB" value="IntellidateV2" />
    <add key="MainDBConnectionString" value="Server= 173.248.150.250:1533;Database=Intellidate;Uid=baseer;Pwd=baseer123;" />
    <add key="SuperAdminLogin" value="SUPERADMIN" />
    <add key="SuperAdminPassword" value="$uperAdmin" />
  </appSettings>
  <connectionStrings>
    <add name="intellidateEntities" connectionString="metadata=res://*/DB.IntellidateDB.csdl|res://*/DB.IntellidateDB.ssdl|res://*/DB.IntellidateDB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.1.113;user id=ramana;password=ramana;persistsecurityinfo=True;database=intellidate&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <location path="~/Secured"></location>
  <system.web>
    <sessionState timeout="30"></sessionState>
    <roleManager enabled="true" defaultProvider="XmlRoleProvider">
      <providers>
        <add name="XmlRoleProvider" type="Artem.Web.Security.XmlRoleProvider, Artem.Web.Security" applicationName="Test" caseSensitive="false" fileName="Roles.xml" folder="~/App_Data/" />
      </providers>
    </roleManager>
    <authentication mode="Forms">
      <forms loginUrl="~/AdminLogin.aspx" protection="All" path="/" timeout="2"></forms>
    </authentication>
    <authorization>
      <allow users="*" />
      <deny users="?" />
    </authorization>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <membership>
      <providers>
        <add name="XmlMembershipProvider" type="Artem.Web.Security.XmlMembershipProvider, Artem.Web.Security" applicationName="Test" enablePasswordReset="true" enablePasswordRetrieval="false" maxInvalidPasswordAttempts="5" minRequiredNonAlphanumericCharacters="0" minRequiredPasswordLength="4" passwordAttemptWindow="10" passwordFormat="Clear" passwordStrengthRegularExpression="" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" caseSensitive="false" useUniversalTime="false" fileName="Users.xml" folder="~/App_Data/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <add name="XmlProfileProvider" type="Artem.Web.Security.XmlProfileProvider, Artem.Web.Security" applicationName="Test" fileName="Profiles.xml" folder="~/App_Data/" />
      </providers>
    </profile>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.1.4791" newVersion="1.7.1.4791" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.1.4791" newVersion="1.7.1.4791" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>