<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="intellidatev2Entities" connectionString="metadata=res://*/DB.IntellidateDB.csdl|res://*/DB.IntellidateDB.ssdl|res://*/DB.IntellidateDB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.1.113;user id=ramana;password=ramana;persistsecurityinfo=True;database=intellidatev2;allowzerodatetime=True;convertzerodatetime=True&quot;" providerName="System.Data.EntityClient" />
    <remove name="LocalMySqlServer" />
    <add name="LocalMySqlServer" connectionString="database=in_usermgnt;server=192.168.1.113;user id=ramana;password=ramana" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SiteTitle" value="Intellidate" />
    <add key="SiteUrl" value="http://localhost:12345/" />
    <add key="CachingDBConnectionString" value="mongodb://192.168.1.113" />
    <add key="RedisDbServer" value="192.168.1.113" />
    <add key="CachingDB" value="IntellidateV2" />
    <add key="MainDBConnectionString" value="Server=192.168.1.113;Database=IntellidateV2;Uid=ramana;Pwd=ramana;Allow Zero Datetime=true;" />
    <!-- The JS Constants  -->
    <add key="JS-REG_ERR_BLNKUNAME" value="Please enter the user name" />
    <add key="JS-REG_ERR_BLNKEMAIL" value="Please enter the email address" />
    <add key="JS-REG_ERR_INVEMAIL" value="Please enter a valid email address" />
    <add key="JS-REG_ERR_EXISTUNAME" value="The user name is already taken" />
    <add key="JS-REG_ERR_EXISTEMAIL" value="The email address is already taken" />
    <add key="JS-REG_UNAMEMIN" value="5" />
    <add key="JS-REG_ERR_SMALLUNAME" value="User name should be atleast five characters" />
    <add key="JS-REG_ERR_EMAILNOMATCH" value="The email addresses do not match" />
    <add key="JS-REG_ERR_BLANKPASSWORD" value="Please enter your password" />
    <add key="JS-RES_ERR_BLANKNEWPASSWORD" value="Please enter new password" />
    <add key="JS-RES_ERR_BLANKREPASSWORD" value="Please re enter new password" />
    <add key="JS-REG_ERR_SMALLPASSWORD" value="Your password should be at-least 8 characters long." />
    <add key="JS-REG_ERR_PASSWORDSNOMATCH" value="The passwords do not match." />
    <add key="JS-COM_MESSAGESENT" value="Your message has been sent." />
    <add key="JS-COM_ERR_MESSAGE" value="Please enter your message." />
    <add key="JS-COM_ERR_MSGREPLY" value="You are restricted to send message until you receive a response." />
    <add key="JS-LOGOUT_HREF" value="../Login.aspx" />
  </appSettings>
  <system.web>
    <sessionState mode="Custom" cookieless="false" regenerateExpiredSessionId="true" customProvider="MySqlSessionStateProvider">
      <providers>
        <add name="MySqlSessionStateProvider" type="MySql.Web.SessionState.MySqlSessionStateStore, MySql.Web, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" applicationName="/" description="" connectionStringName="LocalMySqlServer" writeExceptionsToEventLog="False" autogenerateschema="False" enableExpireCallback="False" />
      </providers>
    </sessionState>
    <roleManager defaultProvider="MySQLRoleProvider">
      <providers>
        <remove name="MySQLRoleProvider" />
        <add name="MySQLRoleProvider" type="MySql.Web.Security.MySQLRoleProvider, MySql.Web, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" applicationName="/" description="Roles" connectionStringName="LocalMySqlServer" writeExceptionsToEventLog="True" autogenerateschema="True" enableExpireCallback="False" />
      </providers>
    </roleManager>
    <membership defaultProvider="MySQLMembershipProvider">
      <providers>
        <remove name="MySQLMembershipProvider" />
        <add name="MySQLMembershipProvider" type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" applicationName="/" description="MySQL default application" connectionStringName="LocalMySqlServer" writeExceptionsToEventLog="True" autogenerateschema="True" enableExpireCallback="False" enablePasswordRetrieval="False" enablePasswordReset="True" requiresQuestionAndAnswer="True" requiresUniqueEmail="False" passwordFormat="Clear" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login" defaultUrl="~/web"></forms>
    </authentication>
    <authorization>
      <allow users="*" />
      <deny users="?" />
    </authorization>
  </system.web>
  <system.webServer>
    <modules>
      <add name="HttpsOnlyModule" type="HttpsOnlyModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>